<header>
    <h1> Bienvenido a<strong>Ghost</strong>!</h1>
    <p>En todo el mundo, la gente ha comenzado <em>2,000,000+</em> sitios increíbles con Ghost. Hoy estamos empezando el tuyo.</p>
</header>

<figure class="gh-flow-screenshot">
    <img src="assets/img/install-welcome.png" alt="Ghost screenshot" />
</figure>

<LinkTo @route="setup.two" @classNames="gh-btn gh-btn-green gh-btn-lg gh-btn-icon gh-btn-icon-right">
    <span>Crea tu cuenta {{svg-jar "arrow-right-small"}}</span>
</LinkTo>
